@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(black, #3b82f6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  background-color: #93c5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 5px solid #fbbf24;
  border-radius: 10px;
  font-family: "Changa", sans-serif;
}

.heading {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 2px solid black;
  font-size: 1.8rem;
  font-weight: bold;
}

.timer-length {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.timer {
  border: 4px solid #1e40af;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer div {
  color: black;
}

.timer-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.timer-control button {
  outline: none;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  font-size: 1rem;
}

.play {
  background-color: #059669;
  color: white;
  margin-right: 0.5rem;
}
.play:hover {
  background-color: #064e3b;
}

.reset {
  background-color: #ef4444;
  color: white;
  margin-left: 0.5rem;
}
.reset:hover {
  background-color: #b91c1c;
}
